.header{
  display:flex;
  padding-bottom:1%;
  margin-left:5%;
  margin-right:5%;
}
.icons{
    width: 95px;
    height: 95px;
    background: rgb(241, 236, 236);
    border-radius: 50%;
    margin-top:1%;
    margin-left:1%;
    text-align: center;
    padding-top:0.5%;
}

.header-line{
    border-bottom: 0.5px solid rgb(199, 195, 195);
}